// PALETA DE COLORES
$color-principal:#819A91;
$color-body: #EEEFE0;
$color-letrasclaras: whitesmoke;
$color-hoverletras:#00c3ff;
$color-shadow:black;
$color-botones:#1b5085;
$color-fondocombos:#9c8181;
$color-hoverboton:#e30c08;
$color-boxcombo:#9c8181;
